@import url('https://fonts.googleapis.com/css?family=Francois+One|Montserrat');
body{
	background-color: #40FFE5;
}
#navigator { background-color: #aaaaaa;
	font-family: Arial,sans-serif;
	width: 100px;


}
#logo{
	font-size: 20px;
	color: blue;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;

}
img{ width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	border-style: inset;
	border-width: 25px;
	border-color: #FFF37B;
	border-radius: 20px;



}
h2{
	color: black;
}
#intro{
	font-size: 20px;
	font-style: Arial;
	line-height: 1.5em;
	border-style: inset;
	border-color: #FFF37B;
	border-width:  25px;
	border-radius: 25px;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 15px;
	background-color: #F4F4F4;
	float: left;
	width: 62%;

}

a{
	background-color: #191BFF;
	color: red;
	text-decoration: none;
	display: block;
	padding: 20px;	
}

a:hover
{background-color: #aaaaaa;}


#contact{
	background-color: #F4F4F4;
	padding: 20px;
	border-style: inset;
	border-color: #FFF37B;
	border-radius: 25px;
	border-width: 25px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 15px;
	font-weight: bold;
	font-size: 20px;
	font-style: Arial;

	
}

#services{
	background-color: #F4F4F4;
	border-radius: 25px;
	padding: 10px;
	color: red;
	margin-top: 15px;
	text-align:center;
	border-color:#FFF37B;
	border-style: inset;
	border-width: 25px;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	float: right;
	line-height: 1.5em;

}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}