@import url('https://fonts.googleapis.com/css?family=Francois+One|Montserrat');
* { margin:0; padding:0; box-sizing:border-box; }
body {
/* base typography */
color:#333;
font-family:;
font-size:16px;
font-weight:400;
line-height:1.3;
}
section {
padding:5em 0;
}
img {width:300px;} /* this needs to be deleted */




h1 {
	text-align: left;
font-size: 40px;
font-family:Francois One;
color:#182182;
line-height:1.5em;	
}


h2{
 color: red;
	font-size: 40px;
	text-align: center;
	float: left;
	line-height: 2em;
}


p {
	font-style: italic;
	font-size: 20px;
	margin:1.5em;
	line-height: 2em;
	font-family:'Montserrat', sans-serif;
	background-color: #CCE8D0;
	padding: 5px;
	border: 2px solid black;	 
}

img{border:5px solid blue;
float: left;
margin: 5px;
}

body {background-color: #4CA8B1;
border: 15px solid blue 	 
 }
ol{color: red;
text-align: center;
font-size: 40px;
display: ruby-base;
border:2px solid black;
margin-right: 30%;
margin-left: 30%;
background-color: #0D88FF;
padding:5em;
}



 

 