body
h1 {color:#4B0082; }
p {color:#800000; }
ul
li
img
#slogan-italicized;
{background-image: <a href="http://imgur.com/RJLn5FN"><img src="http://i.imgur.com/RJLn5FN.jpg?2" title="source: imgur.com" /></a>}
text-align: center;
p{font-size: medium;}