*{margin: 0;padding: 0;box-sizing: border-box;}

body{
font-size: 16px;
background-color: #000000;
	border: solid;
background-repeat: no-repeat;
background-size: 100%;
}
header{color:#FFF6F0;
	margin-top: 2%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Parisienne', cursive;
	line-height: 2.5em;
	width: auto;
	padding: 2em;
    
}
#desktop{
    width: 60%;
	margin-top: 5%;
	margin-right: 20%;
	margin-left: 20%;
	border: solid;
	border-radius: 20px;
}
#Me{
	padding: 1em;
	width: 20%;
	height: 15%;
}

p{
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	padding: 2em;
	color: #FFF6F0;
}
#intro{ font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	font-family: 'Arapey', serif;
	padding-bottom: 2em;



}
p{ font-size: 1.2em;
	line-height: 1.2em;
	font-family: 'Arapey',serif;
}
#logo{font-weight: bold;
	font-size: 1.2em;
	width: auto;
	padding: 2em;
line-height: 2em;
}
#services{
color: #FFF6F0;
font-size: 1.5em;
text-align: center;	
width: auto;
line-height: 1.5em;
padding: 2em;
text-decoration: underline;
font-family: 'Anton', sans-serif;

}
address{
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	padding: 2em;
	line-height: 1.5em;
	width: auto;
	color: #FFF6F0;
}	

