@import url('https://fonts.googleapis.com/css?family=Francois+One|Montserrat');
h1 {
	text-align: center;
}
h1{font-size: 50px;
font-family:Francois One;}
h1
h2{
	color: red;
}
h2{
	font-size: 40px;
	text-align: center;
	color: red
}

p {
	font-style: italic;
	font-size: 20px;
	margin:1.5em;
	line-height: 2em;
	font-family:'Montserrat', sans-serif; 

}
h1 {color:#182182}
img{border:15px solid blue;}
img{box-sizing: 50px}
img{
	display:block ;
	margin: auto;
	width: 30%
}
body {
	background-color:#FFBA9A 
 }
body {border: 15px solid blue }
p {
	background-color: #CCE8D0}
p{margin: auto;}
ul{color: red;}
ul{font-size: 30px}
ul{text-align: center;} 
header{background-color: #FFED74;
 }
section{background-color: #E89C6C;
 }