h1 {
	text-align: center;
}
p {
	font-style: italic;

}
p {
	border: 1px solid black;
}
body {background-image: <a href="http://imgur.com/RJLn5FN"><img src="http://i.imgur.com/RJLn5FN.jpg?2" title="source: imgur.com"; /></a>}
